<div class="register">
    <form name="registerForm" class="registerForm" onSubmit="app.register.onSubmit(event); return false;">
      <input type="text" name="username"
        placeholder="{{i18n string="register.username"}}"><br>
      <input type="password" name="password"
        placeholder="{{i18n string="register.password"}}"><br>
      <input type="email" name="email"
        placeholder="{{i18n string="register.email"}}"><br>
      <button type="submit">{{i18n string="register.submitButton"}}</button>
    </form>
</div>
