<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles-min.css"/>
    <script src="application-min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
